name: Generate Snake

on:
  schedule:
    - cron: "0 18 * * *"   # runs daily at 18:00 UTC (~11:30 PM IST)
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub contribution snake
        uses: Platane/snk@v3
        with:
          github_user_name: pradeepan1
          outputs: |
            dist/snake.svg
            dist/github-contribution-grid-snake.svg
      - name: Publish to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
